In [37]:
import pandas as pd

In [38]:
df = pd.read_excel("./employee-info.xlsx")
print(df.dtypes)
print(df)
# check if date is in correct data type
# https://www.dataindependent.com/pandas/pandas-to-datetime/

name              object
gender            object
department        object
license_type      object
job_type          object
training_unit     object
issue_date        object
review_date       object
review_period      int64
comments         float64
dtype: object
  name gender department license_type job_type training_unit  issue_date  \
0  虞洪庆     xx  inventory       特种作业操作       叉车         无锡安监局  02-04-2019
1  张亚亚      男  inventory       特种作业操作       叉车         无锡安监局  02-04-2019
2   小王      男  inventory       特种作业操作       叉车         无锡安监局  02-04-2019

  review_date  review_period  comments
0  02-03-2023              1       NaN
1  02-03-2023              4       NaN
2  02-03-2020              1       NaN

In [39]:

df["review_date"] = pd.to_datetime(df["review_date"], format="%m-%d-%Y")
df["issue_date"] = pd.to_datetime(df["issue_date"], format="%m-%d-%Y")

name                     object
gender                   object
department               object
license_type             object
job_type                 object
training_unit            object
issue_date       datetime64[ns]
review_date      datetime64[ns]
review_period             int64
comments                float64
dtype: object

In [40]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2020, 11, 8, 9, 43, 50, 377668)

In [41]:
df.describe(include="all")

,name,gender,department,license_type,job_type,training_unit,issue_date,review_date,review_period,comments
count,3,3,3,3,3,3,3,3,3.000000,0.0
unique,3,2,1,1,1,1,1,2,NaN,NaN
top,虞洪庆,男,inventory,特种作业操作,叉车,无锡安监局,2019-02-04 00:00:00,2023-02-03 00:00:00,NaN,NaN
freq,1,2,3,3,3,3,3,2,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-04 00:00:00,2020-02-03 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-04 00:00:00,2023-02-03 00:00:00,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.732051,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.500000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN

In [71]:
list = df.columns.to_list()
df_ = pd.DataFrame( columns=list)
df_ = df_.fillna(0)
for index, row in df.iterrows():
    if row['review_date'] > now:
        df_ = df_.append(row)
        
    else:
        pass
df_

,name,gender,department,license_type,job_type,training_unit,issue_date,review_date,review_period,comments
0,虞洪庆,xx,inventory,特种作业操作,叉车,无锡安监局,2019-02-04,2023-02-03,1,NaN
1,张亚亚,男,inventory,特种作业操作,叉车,无锡安监局,2019-02-04,2023-02-03,4,NaN

In [72]:
# create excel writer
writer = pd.ExcelWriter('output.xlsx')
# write dataframe to excel sheet named 'marks'
df_.to_excel(writer, sheet_name='list_of_renew_needed')
# save the excel file
writer.save()